/manual

# Generated content
doc/
deploy/
out/
bin/
node_modules/
client.js

# Private content
.env
.envrc
.haxelib

# Editor files etc
/.todo
haxelibs/
/.idea/
.vscode/


# Travis stuff
deploy_key
deploy_key.pub

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
