[submodule "submodules/ufront-mvc"]
	path = submodules/ufront-mvc
	url = https://github.com/ufront/ufront-mvc.git
	branch = newminject
[submodule "submodules/ufront-uftasks"]
	path = submodules/ufront-uftasks
	url = https://github.com/ufront/ufront-uftasks.git
[submodule "submodules/minject"]
	path = submodules/minject
	url = https://github.com/jasononeil/minject.git
	branch = v2_type_params
