# Generated content
www/php
www/*.php
www/*.n
www/js/client.js
www/js/client.js.map
www/js/client.min.js
www/js/app.js
www/js/app.js.map
www/js/app.min.js
doc/
deploy/

# Private content
src/conf/mysql*.json
uf-content/
.env

# Editor files etc
/.todo
haxelibs/
/.idea/


# Travis stuff
deploy_key
deploy_key.pub

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
