<div class="section">
	<div class="container">
		::if (avatar != null)::
			<img src="/img/people/::avatar::" class="img-circle" width="72" height="72" style="float: left; margin-top: 16px; margin-right: 10px;" />
		::end::

		<h1>::title:: <a rel="alternate" type="application/rss+xml" href="/blog/rss/" class="rssFeedLink"/></a></h1>
		::if (description != null)::
			<p class="lead">::description::</p>
		::end::
	</div>
</div>
<link rel="alternate" type="application/rss+xml" href="/blog/rss/" />
<div class="article-list">
	::for post in posts::
		<div class="section article-thumbnail article-header" ::if (post.background != null):: style="background-image: url(/img/blog/backgrounds/::post.background::)"::end::>
			<a href="/blog/::post.name::/" class="pushstate full-size-link darken-bg"></a>
			<div class="container">
				<h2><a href="/blog/::post.name::/" class="pushstate">::post.title::</a></h2>
				<p class="lead">::post.description::</p>
				<p><small>
					Article by
					::for author in post.authors::
						<a href="/blog/author/::author.username::/" class="label pushstate">::author.name::</a>
					::end::
					on <a href="/blog/::post.name::/" class="label pushstate">::post.date::</a>.
				</small></p>
				<p><small>
					<a href="/blog/::post.name::/#disqus_thread" class="label pushstate disqus-comment-count" data-disqus-identifier="::post.disqusID::">Comments</a>
				</small></p>
			</div>
		</div>
	::end::
</div>

<script>
window.DISQUSWIDGETS = undefined;
window.disqus_shortname = "::Config.disqusShortName::";
</script>
<script src="//::Config.disqusShortName::.disqus.com/count.js"></script>
