<header class="section article-header" ::if (background != null):: style="background-image: url(/img/blog/backgrounds/::background::)"::end::>
	<div class="darken-bg"></div>
	<div class="container">
		<h1>::title::</h1>
		<p class="lead">::description::</p>
		<p><small>
			Article by <a href="/blog/author/::authorID::/" class="label pushstate">::author::</a> on <a href="/blog/::name::/" class="label pushstate">::date::</a>.
		</small></p>
		<p><small>
			<a href="#disqus_thread" class="label disqus-comment-count" data-disqus-identifier="::disqusID::">Comments</a>
		</small></p>
	</div>
</header>
<link rel="home" type="application/rss+xml" href="/blog/rss/" />
<div class="section article-view">
	<div class="container">
		<article>::content::</article>
		
		<div class="well">
			<div class="row-fluid">
				::if (avatar != null)::
				<div class="span2">
					<img src="/img/people/::avatar::" class="img-circle" alt="Avatar for ::author::" width="72" height="72" title="::author::" />
				</div>
				::end::
				<div class="span10">
					<h3>::author::</h3>
					<p>Published <a href="/blog/::name::/" class="pushstate">::date::</a></p>
					
					<div class="tags">
					::for tag in tags::
						<span class="tag"><i class="fa fa-tag"></i>&nbsp;<a href="/blog/tag/::tag.name::/" class="pushstate">::tag.name::</a></span> 
					::end::
					</div>
					<br/>
					<div class="share-buttons">
						<!-- G+ button code -->
						<script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
						<div class="g-plus" data-action="share" data-annotation="bubble" style="display:inline-block"></div>
						&nbsp;
						
						<!-- Twitter button code -->
						<a href="https://twitter.com/share" class="twitter-share-button" style="display:inline-block" data-show-count="false">Tweet</a>
						<script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						&nbsp; 
						<!-- Load Facebook SDK for JavaScript -->
						<div id="fb-root" style="display:inline-block"></div>
						<script>(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>

						<!-- FB like button code -->
						<div class="fb-like" data-href="https://haxe.org/blog/::name::/" style="display:inline-block" data-layout="button_count" data-action="like" data-show-faces="true"></div>
					</div>

				</div>
			</div>
		</div>

		<div id="disqus_thread"></div>
	</div>
</div>

<script>
window.DISQUSWIDGETS = undefined;
window.disqus_shortname = "::Config.disqusShortName::";
window.disqus_config = function () {
	this.page.title = "::title::";
	this.page.identifier = "::disqusID::";
	this.page.url = "https://haxe.org/blog/::name::/";
};
</script>
<script id="disqus-script" src="//::Config.disqusShortName::.disqus.com/embed.js"></script>
<script src="//::Config.disqusShortName::.disqus.com/count.js"></script>
