<div class="section">	
	<div class="container">
		<h1>::title::</h1>

		<p>The current stable version is <a href="/download/version/::current::/">::current::</a>.</p>
		<p>If you want to see what's coming next for Haxe, you can try <a href="http://build.haxe.org" target="_blank">the latest development builds</a>, which are created for every commit on our development branch on Github.</p>

		<table class="table table-hover">
			<thead>
				<th>Version</th>
				<th>Download</th>
				<th>API</th>
				<th>Release Date</th>
				<th>Tag</th>
			</thead>
			<tbody>
				<tr>
					<td><a href="http://build.haxe.org" target="_blank">Development Builds</a></td>
					<td><a href="http://build.haxe.org" target="_blank">Download from S3</a></td>
					<td></td>
					<td></td>
					<td><a href="https://github.com/HaxeFoundation/Haxe" target="_blank" title="View branch `development` on Github">development</a></td>
				</tr>
				::for version in versions::
					<tr ::if (version.version == current):: class="success" ::end::>
						<td><a href="/download/version/::version.version::/">::version.version::</a> ::if (version.version == current):: (Current Release) ::end::</td>
						<td><a href="/download/version/::version.version::/">Download Page</a></td>
						<td>::if (version.api != null)::<a href="::version.api::">API Documentation (ZIP)</a>::end::</td>
						<td>::version.date::</td>
						<td><a href="::Config.tagBaseUrl::/::version.tag::/" target="_blank" title="View tag ::version.tag:: on Github">::version.tag::</a></td>
					</tr>
				::end::
			</tbody>
		</table>
	</div>
</div>
