<div class="section">	
	<div class="container">


		<div class='prev-next-links top clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://builds.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>
		
		<h1>::title::</h1>

		<h3>Downloads - Installers</h3>
		
		<div class="row downloads">
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-windows" title="Windows"></i></li>
					::for download in downloads.windows.installers::
						<li><a href="/download/file/::version::/::download.filename::/"><i class="fa fa-windows"></i> ::download.title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-apple" title="Mac OS X"></i></li>
					::for download in downloads.osx.installers::
						<li><a href="/download/file/::version::/::download.filename::/"><i class="fa fa-apple"></i> ::download.title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-linux" title="Linux"></i></li>
					<li><a href="/download/linux/"><i class="fa fa-linux"></i> Linux Software Packages</a></li>
				</ul>
			</div>
		</div>

		<h3>Downloads - Archives</h3>

		<p>
			These archives need to be manually installed, which is currently undocumented, we recommend using the installers.
		</p>

		<div class="row downloads">
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-windows" title="Windows"></i></li>
					::for download in downloads.windows.archives::
						<li><a href="/download/file/::version::/::download.filename::/"><i class="fa fa-windows"></i> ::download.title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-apple" title="Mac OS X"></i></li>
					::for download in downloads.osx.archives::
						<li><a href="/download/file/::version::/::download.filename::/"><i class="fa fa-apple"></i> ::download.title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-linux" title="Linux"></i></li>
					::for download in downloads.linux.archives::
						<li><a href="/download/file/::version::/::download.filename::/"><i class="fa fa-linux"></i> ::download.title::</a></li>
					::end::
				</ul>
			</div>
		</div>

		<p class="alert alert-info download-source">
			<strong><i class="fa fa-github"></i> Source Code: </strong> The source code for this release is <a href="::Config.tagBaseUrl::/::tag::" target="_blank">available on Github under the ::tag:: tag</a>.
		</p>

		::if (api != null)::
			<p class="alert alert-success">
				<strong><i class="fa fa-book"></i> API Documentation: </strong> Download the API documentation for this version as <a href="::api::">a ZIP file</a>.
			</p>
		::end::

		::if (releaseNotes != null)::
			<h3>Release Notes</h3>
			::releaseNotes::
		::end::

		<h3>Change Log</h3>

		::changes::

		::if (prev != null)::
			<p class="alert alert-info compare-versions">
				<strong><i class="fa fa-github"></i> Full Changelog: </strong> <a href="::Config.compareBaseUrl::/::prevTag::...::tag::" target="_blank">See all commits between tags ::prevTag:: and ::tag:: on Haxe's Github account</a>.
		::end::

		<div class='prev-next-links bottom clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

	</div>
</div>
