<div class="section">
	<div class="container">

		<div class='prev-next-links top clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://build.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

		<h1>Downloading ::title::</h1>

		<script type="text/javascript">window.onload = function () { window.location = "::directDownloadLink::"; }</script>
		<p class="alert alert-info download-source">
			If your download does not begin automatically please <a href="::directDownloadLink::">click here</a>.
		</p>
		
		<div class="section sub-head support">
				<style>
						.support .supportBtn{
							background: rgb(208, 116, 28);
							border-color: rgb(255,255,255);
							color: rgb(255,255,255);
						}
						.support .supportBtn:hover{		
							background: rgb(0,0,0);				
							border-color: rgb(0,0,0);
							
						}
					</style>
				<!-- <div class="container"> -->
						<div class="row">				
								<div class="span6">
										<h2>Support the Haxe Foundation</h2>
										<p >Thank you for downloading Haxe. If you'd like to support the Haxe Foundation please <a href="/foundation/donate.html">consider donating</a> to keep our open source efforts thriving.</p>
										<a  href="/foundation/donate.html" class="btn btn-primary btn-large supportBtn">Donate to the Haxe Foundation</a>					
								
								</div>
								<div class="span6">
										<h2>Get Technical Help</h2>
										<p class="tag-line">
											Get support directly from the <b>Haxe</b> team. The Haxe Foundation offers several support tiers to help with your organization's technical challenges.
										</p>
										
										<a href="/foundation/support-plans.html" class="btn btn-primary btn-large supportBtn ">Explore our support plans</a>					
									</div>	
						</div>
					<div class="row">				
							
					</div>
					
				</div>
			<!-- </div> -->
		
		
		
		<h2>What next?</h2>

		<div class="row-fluid">
			<div class="span6">
				::if (releaseNotes != null)::
					<h3>Release Notes</h3>
					::releaseNotes::
				::end::

				<h3>Change Log</h3>

				::changes::
			</div>
			<div class="span6">
				<h4>Getting Started With Haxe</h4>
				<p>For getting started with Haxe, take a look at our <a href="/documentation/introduction/">introduction</a>, read through the <a href="/manual/introduction.html">Haxe Manual</a> or look at these use cases for Haxe, including tutorials and popular libraries:</p>
				<ul>
					<li><a href="/use-cases/games/">Games</a></li>
					<li><a href="/use-cases/web/">Web</a></li>
					<li><a href="/use-cases/desktop/">Desktop Apps</a></li>
					<li><a href="/use-cases/mobile/">Mobile Apps</a></li>
					<li><a href="/use-cases/cli/">Command Line Tools</a></li>
					<li><a href="/use-cases/cross-platform-apis/">Cross Platform APIs</a></li>
				</ul>
			</div>
		</div>

		::if (api != null)::
			<p class="alert alert-success">
				<strong><i class="fa fa-book"></i> API Documentation: </strong> Download the API documentation for this version as <a href="::api::">a ZIP file</a>.
			</p>
		::end::

		<div class='prev-next-links bottom clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://build.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

	</div>
</div>
