<div class="section">
	<div class="container">

		<div class='prev-next-links top clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://builds.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

		<h1>Downloading ::title::</h1>

		<script type="text/javascript">window.onload = function () { window.location = "::directDownloadLink::"; }</script>
		<p class="alert alert-info download-source">
			If your download does not begin automatically please <a href="::directDownloadLink::">click here</a>.
		</p>

		<h2>What next?</h2>

		<div class="row-fluid">
			<div class="span6">
				::if (releaseNotes != null)::
					<h3>Release Notes</h3>
					::releaseNotes::
				::end::

				<h3>Change Log</h3>

				::changes::
			</div>
			<div class="span6">
				<h4>Getting Started With Haxe</h4>
				<p>For getting started with Haxe, take a look at our <a href="/documentation/introduction/">introduction</a>, read through the <a href="/manual/">Haxe Manual</a> or look at these use cases for Haxe, including tutorials and popular libraries:</p>
				<ul>
					<li><a href="/use-cases/games/">Games</a></li>
					<li><a href="/use-cases/web/">Web</a></li>
					<li><a href="/use-cases/desktop/">Desktop Apps</a></li>
					<li><a href="/use-cases/mobile/">Mobile Apps</a></li>
					<li><a href="/use-cases/cli/">Command Line Tools</a></li>
					<li><a href="/use-cases/cross-platform-apis/">Cross Platform APIs</a></li>
				</ul>
			</div>
		</div>

		::if (api)::
			<p class="alert alert-success">
				<strong><i class="fa fa-book"></i> API Documentation: </strong> Download the API documentation for this version as a ZIP file: <a href="/download/api/::version::/api.zip">api-::version::.zip</a>.
			</p>
		::end::

		<div class='prev-next-links bottom clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://builds.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

	</div>
</div>
