<div class="section">	
	<div class="container">
		<div class='prev-next-links top clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://build.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>
	</div>
</div>
<div class="section dark head downloads">
	<div class="container">
		<div class="row">
			<div class="span5">
				<h1>::title::</h1>
				
				<p><em>Released: ::version.date::</em></p>
				<p class="lead">Thank you for choosing Haxe!<br/>Download for your platform and start developing today.</p>
				
				::if (current != version.version && current < version.version)::
				<p>This is a pre-release, the current stable release version is <a href="/download/">Haxe ::current::</a>.</p>
				::elseif (current != version.version && current > version.version)::
				<p>A newer version is available! The latest stable version is <a href="/download/">Haxe ::current::</a>.</p>
				::end::
				::if (current >= version.version)::
				<br/><a href="https://haxe.org/download/version/4.0.0-rc.3/" class="btn btn-large" style="color:black"><strong>Haxe 4 is coming!</strong><br/> Check out the release candidate now!</a>
				::end::
			</div>
			<div class="span6">
				<div class="row">
					<div class="span1 header">
						<i class="fa fa-windows" title="Windows"></i>
					</div>
					<div class="span5">
						<ul class="nav nav-tabs nav-stacked">
							::for download in downloads.windows.installers::
								<li><a href="/download/file/::version.version::/::download.filename::/"><i class="fa fa-download"></i> ::download.title::</a></li>
							::end::
							::for download in downloads.windows.archives::
								<li><a href="/download/file/::version.version::/::download.filename::/"><i class="fa fa-download"></i> ::download.title::</a></li>
							::end::
						</ul>
					</div>
				</div>
				<div class="row downloads">
					<div class="span1 header">
						<i class="fa fa-apple" title="Mac OS X"></i>
					</div>
					<div class="span5">
						<ul class="nav nav-tabs nav-stacked">
							::for download in downloads.osx.installers::
								<li><a href="/download/file/::version.version::/::download.filename::/"><i class="fa fa-download"></i> ::download.title::</a></li>
							::end::
							::for download in downloads.osx.archives::
								<li><a href="/download/file/::version.version::/::download.filename::/"><i class="fa fa-download"></i> ::download.title::</a></li>
							::end::
						</ul>
					</div>
				</div>
				<div class="row downloads">
					<div class="span1 header">
						<i class="fa fa-linux" title="Linux"></i>
					</div>
					<div class="span5">
						<ul class="nav nav-tabs nav-stacked">
							<li><a href="/download/linux/"><i class="fa fa-book"></i> Linux Software Packages for Ubuntu, Debian, Fedora, openSUSE, Arch Linux</a></li>
							::for download in downloads.linux.archives::
								<li><a href="/download/file/::version.version::/::download.filename::/"><i class="fa fa-download"></i> ::download.title::</a></li>
							::end::
						</ul>
					</div>
				</div>
				<div class="row downloads">
					<div class="span1 header">
						<i class="fa fa-download"></i>
					</div>
					<div class="span5">
						<ul class="nav nav-tabs nav-stacked">
							::if (api != null)::<li><a href="::api::" target="_blank"><i class="fa fa-book"></i> API Documentation</a></li>::end::
							<li><a href="::Config.tagBaseUrl::/::version.tag::" target="_blank"><i class="fa fa-github"></i> Source Code</a></li>
							::if (prev != null)::<li><a href="::Config.compareBaseUrl::/::prevTag::...::version.tag::" target="_blank"><i class="fa fa-github"></i> Commits between tags ::prevTag:: and ::version.tag::</a></li>::end::
						</ul>
					</div>
				</div>
			</div>
			<div class="span1"></div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span1"></div>
			<div class="span9">
			::if (releaseNotes != null)::
				<h2>Release Notes</h2>
				::releaseNotes::
			::end::
			</div>
			<div class="span2"></div>
		</div>
		<div class="row">
			<div class="span1"></div>
			<div class="span9">
				<h2>Change Log</h2>
				::changes::
			</div>
			<div class="span2"></div>
		</div>

		<div class='prev-next-links bottom clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			::if (next == null)::<a href="http://build.haxe.org" class="next-link">Nightly Builds</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

	</div>
</div>
