<!DOCTYPE html>
<html id="page">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>::if (title != null)::::title:: - ::end::Haxe - The Cross-platform Toolkit</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css?v=2018-03-05"/>
	<link rel="stylesheet" type="text/css" href="/css/haxe-nav.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link href='/css/source_sans_pro.css' rel='stylesheet' type='text/css'/>
	<link href='/css/open_sans.css' rel='stylesheet' type='text/css'/>

	::if (additionalStyles != null)::
	::additionalStyles::
	::end::

	<link rel="alternate" type="application/atom+xml" title="RSS Feed haxe.org" href="https://haxe.org/blog/rss/"/>
	<link rel="search" type="application/opensearchdescription+xml" title="Search haxe.org" href="https://haxe.org/opensearch.xml"/>

	<!-- Google -->
	<link rel="author" href="https://plus.google.com/113704686911055424796/posts"/>
	<link rel="publisher" href="https://plus.google.com/113704686911055424796/"/>
	<meta name="description" content="::description::" />

	<!-- Twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@haxelang" />
	<meta name="twitter:site" content="@haxelang" />
	<meta name="twitter:title" content="::if (title != null)::::title:: - ::end::Haxe - The Cross-platform Toolkit" />
	<meta name="twitter:description" value="::description::" />
	<meta name="twitter:image" content="https://haxe.org/img/branding/haxe-logo-glyph.png" />

	<!-- OpenGraph -->
	<meta property="og:title" content="::if (title != null)::::title:: - ::end::Haxe - The Cross-platform Toolkit" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="https://haxe.org/img/branding/haxe-logo-glyph.png" />
	<meta property="og:description" content="::description::" />
	<meta property="og:site_name" content="Haxe - The Cross-platform Toolkit" />

	<!-- Facebook -->
</head>

<body data-uf-layout="haxe">

<nav class="section nav dark">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="brand haxe-logo" href="/"><img alt="Haxe" height="21" onerror="this.src='/img/haxe-logo-horizontal-on-dark.png'" src="/img/haxe-logo-horizontal-on-dark.svg" width="107" /></a>
			

			<div class="nav-collapse collapse">
        		<ul class="nav pull-right search-link-menu">
					<li>
						<a href="/search/"><i class="fa fa-search"></i></a>
					</li>
				</ul>
				<div class="container"><ul class="nav">
					::navBar::
					<li class=" dropdown">
						<a href="/HaxeFoundation" data-toggle="dropdown" class="dropdown-toggle">Connect <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="https://github.com/HaxeFoundation" rel="external"><i class="fa fa-github"></i> Github</a></li>
							<li><a href="https://github.com/HaxeFoundation/haxe/issues" rel="external"><i class="fa fa-github"></i> Bug reports</a></li>
							<li><a href="https://stackoverflow.com/questions/tagged/haxe" rel="external"><i class="fa fa-stack-exchange"></i> Stack Overflow</a></li>
							<li><a href="http://community.haxe.org/" rel="external"><i class="fa fa-envelope-o"></i> Forums</a></li>
							<li><a href="https://gitter.im/HaxeFoundation/haxe" rel="external nofollow"><i class="fa fa-comments-o"></i> Chat</a></li>
							<li><a href="https://haxe.org/blog"><i class="fa fa-rss"></i> Blog</a></li>
							<li class="divider"></li>
							<li><a href="https://www.facebook.com/haxe.org/" rel="external"><i class="fa fa-facebook"></i> Facebook</a></li>
							<li><a href="https://twitter.com/search?q=%23haxe" rel="external"><i class="fa fa-twitter"></i> #haxe</a></li>
							<li><a href="https://twitter.com/haxelang" rel="external"><i class="fa fa-twitter"></i> @haxelang</a></li>
							<li><a href="https://twitter.com/haxe_org" rel="external"><i class="fa fa-twitter"></i> @haxe_org</a></li>
							<li class="divider"></li>
							<li><a href="https://haxe.org/foundation/contact.html" rel="external">Contact</a></li>
						</ul>
					</li>
				</ul></div>
			</div>
		</div>
	</div>
</nav>

<div class="page-wrap" data-uf-partial="view-content">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLScc9itN2M0EIqJ0XhytvTH51gZ37i4FI7-VpLHZg9fHxwOCPA/viewform?usp=sf_link"><img style="position: fixed; bottom: 0; right: 0; border: 0; z-index: 10000;" src="img/survey.png" alt="Take the Haxe Survey!"/></a>
	::viewContent::
</div>

<footer class="section dark site-footer">
	<div class="container">
		<div class="sitemap clearfix">
			::siteMap::
		</div>
		<div class="copyright">
			<p>&copy; ::currentYear::
			<a href="/foundation/" title="Haxe Foundation Website" class="hf-link">Haxe Foundation</a>
			::if (editLink != null)::
			| <a href="::editLink::" target="_blank" rel="external" class="edit-link" title="Use Github to suggest an edit to this page">Contribute to this page</a>
			::end::
			</p>
		</div>
	</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/client.min.js"></script>
::if (additionalScripts != null)::
::additionalScripts::
::end::
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NXV3XR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXV3XR');</script>
<!-- End Google Tag Manager -->
</body>
</html>
