<div class="section"> 
	<div class="container">

		<h1>Search Results</h1>
		
		<script>
		  (function() {
		    var cx = '016192778638739449565:7hmgkvly1ey';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search queryParameterName="s" enableHistory="true"></gcse:search>

		::if (editLink != null)::
			<p class="prev-next-links">
				<a href="::editLink::" class="edit-link" title="Use Github to suggest an edit to this page">Contribute to this page.</a>
			</p>
		::end::
	</div>
</div>
