
<div class="section dark section-videos">
	<div class="container">
		<h1 style="color:#fff">::section.title::</h1>
		<p class="lead">::section.description::</p>
		
		::if (section.categories.length > 0)::
			<a href="/videos/" class="button-head-video">&laquo; Overview</a>
			::for c in section.categories::
				<a href="/::c.path::" class="button-head-video">::c.title::</a>
			::end::
		::else::
			::for s in sections::
				::if (s != section)::
					<a href="/::s.path::" class="button-head-video">::s.title::</a>
				::end::
			::end::
		::end::
	</div>
</div>

::if (false):: <!-- set true to enable livestream -->
<div class="section">
	<div class="container">
		<h2><b style="color:#DF0000">&middot;</b> Live stream - Haxe Summit - First track</h2>
		<blockquote><strong>Info about the schedules and speakers on <a href="https://summit.haxe.org">summit.haxe.org</a></strong></blockquote>
		<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
		<div class='embed-container'><iframe src="https://player.twitch.tv/?channel=haxesummit&amp;autoplay=false" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe></div>
		<a href="https://www.twitch.tv/haxesummit?tt_medium=live_embed&tt_content=text_link">Watch this stream on www.twitch.tv</a>

		<h2><b style="color:#DF0000">&middot;</b> Live stream - Haxe Summit - Second track</h2>
		<div class='embed-container'><iframe src="https://player.twitch.tv/?channel=haxesummit2&amp;autoplay=false" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe></div>
		<a href="https://www.twitch.tv/haxesummit2?tt_medium=live_embed&tt_content=text_link">Watch this stream on www.twitch.tv</a>
	</div>
</div>
::else::
<br/>
::end::

::if (section.categories.length > 0)::
	::if (false)::<!-- specific section -->::end::
	::for category in categories::
		::if (category.featuredVideos.length>0)::
		<div class="section light section-videos">
			<div class="section">
				<div class="container">
					<h2><a href="/::category.path::">::category.title::</a> <small>(::category.videos.length::)</small></h2>
					<div class="video-listing">
						::for video in category.featuredVideos::
						<div class="video-item">
							<a href="/::video.path::">
								<img src="https://img.youtube.com/vi/::video.youtubeId::/mqdefault.jpg" alt="::video.title::" class="thumbnail"  />
							</a>
							<h3>::video.title::</h3>
						</div>
						::end::
						::if (category.videos.length>=5)::
						<div class="video-item button-next">
							<a href="/::category.path::">&raquo;</a>
						</div>
						::end::
					</div>
				</div>
			</div>
		</div>
		::end::
	::end::
::else::
	::if (false)::<!-- landing -->::end::
	::for s in sections::
	::if (s != section)::
		<div class="section light section-videos">
			<div class="section">
				<div class="container">
					<h1><small><a href="/::s.path::">::s.title::</a></small></h1>
					<br/>
					::for category in s.categories::
					::if (category.userFeaturedVideos.length>0)::
						<h2><a href="/::category.path::">::category.title::</a> <small>(::category.videos.length::)</small></h2>
						
						<div class="video-listing">
							::for video in category.userFeaturedVideos::
							<div class="video-item">
								<a href="/::video.path::">
									<img src="https://img.youtube.com/vi/::video.youtubeId::/mqdefault.jpg" alt="::video.title::" class="thumbnail"  />
								</a>
								<h3>::video.title::</h3>
							</div>
							::end::
							::if (category.videos.length>=5)::
							<div class="video-item button-next">
								<a href="/::category.path::">&raquo;</a>
							</div>
							::end::
						</div>
					::end::
					::end::
					::if (s.categories.length>1)::
						<p style="margin-top:1.5em"><a href="/::s.path::" title="::s.title::" class="btn"><strong>See all collections in "::s.title::"</strong> (::s.categories.length::)</a></p><br/>
					::end::
				</div>
			</div>
		</div>
	::end::
	::end::
::end::

<div class="container">
	<div class="prev-next-links bottom">
		<a href="https://github.com/HaxeFoundation/haxe.org/tree/staging/videos" class="edit-link" target="_blank"  title="Use Github to suggest an edit to these videos">Contribute to this page</a>
	</div>
	<br/>
</div>
