files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_post_install_updates.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      count=1; until [ $count -gt 10 ] || ( curl -s http://localhost/ > /dev/null && [ $( curl -s http://localhost/ | grep Error | wc -l ) = 0 ] ); do
        echo "try again";
        let count+=1;
        sleep 5;
      done
      curl -I http://localhost/update/site/
      curl -I http://localhost/update/manual/