<div class="section">	
	<div class="container">
		<h1>::title::</h1>

		<table class="table table-striped">
			<thead>
				<th>Version</th>
				<th>Download</th>
				<th>API</th>
				<th>Tag</th>
			</thead>
			<tbody>
				::foreach versions::
					<tr ::if (version == current):: class="active" ::end::>
						<td><a href="/download/version/::version::/">::version::</a> ::if (version == current):: (Current Release) ::end::</td>
						<td><a href="/download/version/::version::/">Download Page</a></td>
						<td>::if (api)::<a href="/download/api/::version::/api.zip">API Documentation (ZIP)</a>::end::</td>
						<td><a href="::tagBaseUrl::/::tag::/" target="_blank" title="View tag ::tag:: on Github">::tag::</a></td>
					</tr>
				::end::
			</tbody>
		</table>
	</div>
</div>
