<div class="section">	
	<div class="container">


		<div class='prev-next-links top clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>
		
		<h1>::title::</h1>

		<h3>Downloads</h3>
		
		<div class="row downloads">
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-windows" title="Windows"></i></li>
					::foreach downloads.windows::
						<li><a href="/download/file/::version::/::filename::"><i class="fa fa-windows"></i> ::title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-apple" title="Mac OSX"></i></li>
					::foreach downloads.osx::
						<li><a href="/download/file/::version::/::filename::"><i class="fa fa-apple"></i> ::title::</a></li>
					::end::
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class="header"><i class="fa fa-linux" title="Linux"></i></li>
					::foreach downloads.linux::
						<li><a href="/download/file/::version::/::filename::"><i class="fa fa-linux"></i> ::title::</a></li>
					::end::
				</ul>
			</div>
		</div>

		<p class="alert alert-info download-source">
			<strong><i class="fa fa-github"></i> Source Code: </strong> The source code for this release is <a href="::tagBaseUrl::/::tag::" target="_blank">available on Github under the ::tag:: tag</a>.
		</p>

		::if (api)::
			<p class="alert alert-success">
				<strong><i class="fa fa-book"></i> API Documentation: </strong> Download the API documentation for this version as a ZIP file: <a href="/download/api/::version::/api.zip">api-::version::.zip</a>.
			</p>
		::end::

		::if (releaseNotes != null)::
			<h3>Release Notes</h3>
			::releaseNotes::
		::end::

		<h3>Change Log</h3>

		::changes::

		::if (prev != null)::
			<p class="alert alert-info compare-versions">
				<strong><i class="fa fa-github"></i> Full Changelog: </strong> <a href="::compareBaseUrl::/::prevTag::...::tag::" target="_blank">See all commits between tags ::prevTag:: and ::tag:: on Haxe's Github account</a>.
		::end::

		<div class='prev-next-links bottom clearfix'>
			::if (prev != null)::<a href="/download/version/::prev::/" class="prev-link">::prev::</a>::end::
			::if (next != null)::<a href="/download/version/::next::/" class="next-link">::next::</a>::end::
			<a href="/download/list/">(View all versions)</a>
		</div>

	</div>
</div>
