DirectoryIndex index.html

# Get our stuff gzipped
#SetOutputFilter DEFLATE
#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

# Block .git directory from Apache
RedirectMatch 404 /\.git

# Serve SVG images with the correct content-type
AddType image/svg+xml .svg