
# Set index.n to come before index.php

DirectoryIndex index.html index.n index.php

# Enable rewrite

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.n/$1

# Get our stuff gzipped
#SetOutputFilter DEFLATE
#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

# Block .git directory from Apache
RedirectMatch 404 /\.git