/**
	Sticky Footer
**/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -26px; /* equal to footer height */
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 26px; 
}

/**
	Responsive fixes
**/
@media (max-width: 767px) {
	body {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.container {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		margin: 0 !important;
	}
	.section.head h1 img, .section.head h1 b {
		display: block;
		margin: 0 auto 10px;
	}
	.section.head h1 span {
		display: none; /* hide the hyphen */
	}
	.page-wrap .section:first-child .container {
		padding-top : 40px !important;
	}
	.section .row.component .title {
		text-align: left !important;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin: 0 0 20px 0 !important;
	}
	.section.head ul.logos {
		margin-top: 20px;
	}
}

/**
	Main styles
**/
body {
	font-family : "Nunito", sans-serif;
	font-weight : 300;
}
b, strong {
	font-weight : 400;
}
h1, h2, h3 {
	font-family : "Dosis", sans-serif;
	font-weight : 400;
}
ul {
	list-style : square;
}
h1 {
	font-weight : 300;
}
a.anch {
	position : absolute;
	margin-top : -100px;
}
.section .container {
	position : relative;
	padding-top : 30px;
	padding-bottom : 40px;
}
.section .container :first-child {
	margin-top : 0px;
}
.section .container :last-child {
	margin-bottom : 0px;
}
.section blockquote {
	text-align : left;
	margin : 50px 20px;
}
.section .row {
	text-align : justify;
}
.section .row h3 {
	text-align : center;
	font-weight : 300;
}
.section .row.component {
	margin-bottom : 20px;
}
.section .row.component .title {
	text-align : right;
	font-weight : 400;
}
.section.black {
	background : #222;
	background : -moz-linear-gradient(top,#222 0%,#333 100%);
	background : -o-linear-gradient(top,#222 0%,#333 100%);
	background : -webkit-gradient(linear,left top,left bottom,color-stop(0%,#222),color-stop(100%,#333));
	background : linear-gradient(#222,#333);
	background-color : transparent\9;
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr=#222, endColorstr=#333);
	zoom : 1;
	-moz-box-shadow : 0px 0px 4px #000;
	-webkit-box-shadow : 0px 0px 4px #000;
	box-shadow : 0px 0px 4px #000;
	color : white;
}
.section.black a {
	color : #6CF;
}
.section.site-footer {
	background : #222;
	background : -moz-linear-gradient(top,#222 0%,#111 100%);
	background : -o-linear-gradient(top,#222 0%,#111 100%);
	background : -webkit-gradient(linear,left top,left bottom,color-stop(0%,#222),color-stop(100%,#111));
	background : linear-gradient(#222,#111);
	background-color : transparent\9;
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr=#222, endColorstr=#111);
	zoom : 1;
	text-align : center;
	color : #CCC;
}
.section.site-footer .container {
	font-size : 12px;
	padding : 3px;
}
.section.site-footer a {
	color: white;
}
.section.site-footer a:hover {
	color: rgb(200,200,200);
}
.section.nav {
	margin-bottom: 0;
}
.section.nav .container {
	padding : 0;
}
.page-wrap .section:first-child .container {
	padding-top : 80px;
}
.section.head {
	text-align : center;
}
.section.head h1 {
	color : #333;
}
.section.head h1 b {
	color : #000;
}
.section.head p.tagLine {
	margin-top : 20px;
	font-weight : 200;
	color : #999;
	font-size : 18px;
}
.section.head p.tagLine b {
	color : #666;
}
.section.head ul.logos li {
	list-style : none;
	width : 100px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	text-align : center;
	margin-bottom: 20px;
}
.section.head ul.logos li img {
	max-height : 64px;
}
.section.head a.start {
	margin-top : 30px;
}
.section.hf ul li {
	margin-bottom : 5px;
}
