#page {
	padding-top : 60px;
}
#page.home .head {
	text-align : center;
}
#page.home h1 {
	color : #333;
}
#page.home h1 b {
	color : #000;
}
#page.home p.tagLine {
	margin-top : 20px;
	font-style : italic;
	color : #666;
	font-size : 140%;
}
#page.home p.tagLine b {
	color : #333;
}
#page.home ul.logos li {
	list-style : none;
	width : 100px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	text-align : center;
}
#page.home ul.logos li img {
	max-height : 64px;
}
#page.home a.start {
	margin-top : 50px;
}
#page.home blockquote {
	text-align : left;
	margin : 50px 20px;
}
#page.home .row.component {
	margin-bottom : 20px;
}
#page.home .row.component .section {
	text-align : right;
	font-weight : bold;
}
#page.home .row {
	text-align : justify;
}
#page.home .row h3 {
	text-align : center;
}
