/**
	Sticky Footer
**/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -326px; /* equal to footer height */
}
@media (max-width: 979px) {
	.page-wrap {
		margin-top: -20px;
	}
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	min-height: 326px;
}

/**
	Responsive fixes
**/
@media (max-width: 767px) {
	body {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.container {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		margin: 0 !important;
	}
	.section.head h1 img, .section.head h1 b {
		display: block;
		margin: 0 auto 10px;
	}
	.section.head h1 span {
		display: none; /* hide the hyphen */
	}
	.page-wrap .section:first-child .container {
		padding-top: 40px !important;
	}
	.section .row.component .title {
		text-align: left !important;
	}
	.section .row.component .links {
		margin-top: 20px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin: 0 0 20px 0 !important;
	}
	ul.logos {
		margin-top: 20px;
	}
}
@media (max-width: 979px) {
	.page-wrap .section:first-child .container {
		padding-top: 10px !important;
	}
}

/**
	Main styles
**/
body {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
}
b, strong {
	font-weight: 400;
}
a {
	color: #f98510;
}
a:hover {
	color: #f56e19;
}
h1, h2, h3 {
	font-family: "Dosis", sans-serif;
	font-weight: 400;
}
ul {
	list-style: square;
}
h1 {
	font-weight: 300;
}
a.anch {
	position: relative;
	top: -30px;
}
.section .container {
	position: relative;
	padding-top: 30px;
	padding-bottom: 40px;
}
.section .container :first-child {
	margin-top: 0px;
}
.section .container > :last-child {
	margin-bottom: 0px;
}
.section blockquote {
	padding: 30px 20px;
	margin: 20px 20px 20px 20px;
}
.section blockquote p {
	font-size: 18px;
	font-style: italic;
}
@media (min-width: 979px) {
	.section blockquote {
		margin: 100px 20px 100px 20px !important;
	}
}
.section .row {
	text-align: left;
}
.section h2 {
	text-align: center;
	letter-spacing: -1px;
}
.section .row h3 {
	text-align: center;
	font-weight: 300;
}
.section .row.component {
	margin-bottom: 20px;
}
.section .row.component .title {
	text-align: right;
	font-weight: 400;
}
.btn-haxe, 
.gsc-search-box input.gsc-search-button {
	background: #FF9900;
	background: -moz-linear-gradient(top,#FF9900 0%,#E68A00 100%);
	background: -o-linear-gradient(top,#FF9900 0%,#E68A00 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF9900),color-stop(100%,#E68A00));
	background: linear-gradient(#FF9900,#E68A00);
	background-color: transparent\9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9900, endColorstr=#E68A00);
	zoom: 1;
	color: white;
}
.btn-haxe:hover, 
.gsc-search-box input.gsc-search-button:hover {
	background: #E68A00;
}
.section.black {
	background: #222;
	background: -moz-linear-gradient(top,#222 0%,#333 100%);
	background: -o-linear-gradient(top,#222 0%,#333 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#222),color-stop(100%,#333));
	background: linear-gradient(#222,#333);
	background-color: transparent\9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#222, endColorstr=#333);
	zoom: 1;
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	color: white;
}
.section.inset {
	background: rgb(229, 229, 229);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}
.copyright {
	text-align: center;
}

.site-footer, .site-footer .container {
	font-size: 12px;
	padding: 0;
}
.section.site-footer a {
	color: rgb(160,160,160);
}
.section.site-footer a:hover {
	color: rgb(100,100,100);
}
.section.nav {
	margin-bottom: 0;
}
.section.nav .container {
	padding: 0;
}
.page-wrap .section:first-child .container {
	padding-top: 80px;
}
.section.head {
	text-align: center;
}
.section.head h1 {
	color: #666;
	text-align: left;
	font-weight: bold;
	letter-spacing: -1px;
}
.section.head .lead {
	color: #999;
	text-align: left;
}
@media (min-width: 979px) {
	.section.head .lead {
		width: 50%;
	}
}
.section p.tag-line {
	margin-top: 20px;
	font-weight: 200;
	color: #999;
	font-size: 18px;
}
.section p.tag-line b {
	color: #666;
}
ul.logos {
	margin: 0;
}
ul.logos {
	text-align: center;
}
ul.logos li {
	list-style: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 10px 20px 0 0;
}
ul.logos li.target {
	width: 80px;
}
ul.logos li.target img {
	max-height: 48px;
}
ul.logos li.arr {
	width: 20px;
	font-size: 32px;
	font-weight: bold;
	margin-right: 30px;
	position: relative;
	top: 5px;
	left: 13px;
}
.section.head a.start {
	margin-top: 9px;
}
.section.hf ul li {
	margin-bottom: 5px;
}
/**
	Prev / Next links
**/
.prev-next-links {
	clear: both;
	text-align: center;
}
.prev-next-links.top {
	border-bottom: #DDD solid 1px;
	padding-bottom: 10px;
	margin-top: -30px !important;
	margin-bottom: 20px;
}
.prev-next-links.bottom {
	border-top: #DDD solid 1px;
	padding-top: 10px;
	margin-top: 20px;
}
.prev-link {
	float: left;
}
.prev-link:before {
	content: "« ";
}
.next-link {
	float: right;
}
.next-link:after {
	content: " »";
}

/**
	Code Highlighting
**/

pre, div.pre {
	font-family: "Source Code Pro", "Courier New";
	font-size: 20px;
	color: #333;
	background-color: #f3f3f3;
	border: 1px solid #bbb;
	margin: 15px;
	padding: 5px;
	padding-left: 20px;
}
pre .kwd, div.pre .kwd {
	color: #008;
}
pre .val, div.pre .val {
	color: #448;
}
pre .str, div.pre .str {
	color: #800;
}
pre .cmt, div.pre .cmt {
	color: #080;
}
/* Make sure keywords inside comments are not highlighted*/
pre .cmt .kwd, pre .cmt .str, pre .cmt .val {
	color: #080;
}

/**
	Downloads page
**/
.downloads .header i.fa {
	font-size: 48px;
	text-align: center;
	display: block;
	margin: 10px 0;
	cursor: default;
}

/**
	Manual / API nav
**/
.tree-nav h5 {
	color: rgb(130,130,130);
	font-weight: 200;
}
.tree-nav ul {
	list-style: none;
	margin-left: 0;
}
.tree-nav li {
	height: 19px;
	overflow: hidden;
}
.tree-nav li i.fa {
	height: 14px;
	width: 14px;
	color: rgb(200,200,200);
}
.tree-nav li i.fa:hover {
	color: rgb(150,150,150);
}
.tree-nav li > i.fa:before {
	content: "\f016"; /* fa-file-o */
	cursor: pointer;
}
.tree-nav li.parent > i.fa:before {
	content: "\f18e"; /* fa-arrow-circle-o-right */
	cursor: pointer;
}
.tree-nav li.parent.active {
	height: auto;
	overflow: auto;
}
.tree-nav li.parent.active > i.fa:before {
	content: "\f01a"; /* fa-arrow-circle-o-down */
	cursor: pointer;
}
.tree-nav a.active {
	font-weight: bold;
}
.tree-nav li ul {
	margin-left: 10px;
	display: none;
}
.tree-nav li.active > ul {
	margin-left: 10px;
	display: block;
}
.tree-nav li {
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
	Misc
**/

html code {
	color: rgb(75,75,75)
}
.download-source {
	margin-top: 16px;
}
.prev-next-links+p {
	margin-top: 20px;
}
.nav-stacked li a i.fa {
	color: rgb(200,200,200);
	margin-right: 7px;
}
table.table.table-bordered.features, table.table.table-bordered.features td, table.table.table-bordered.features th {
	/*border-color: rgb(40,40,40);*/
	/*background: rgb(30,30,30);*/
}
.site-content ul ul, .site-content ul ol, .site-content ol ol, .site-content ol ul {
	margin-bottom: 10px;
}
.tree-nav ul ul, .tree-nav ul ol, .tree-nav ol ol, .tree-nav ol ul {
	margin-bottom: 0px;
}

/**
	Pull-out blockquotes
**/
.site-content blockquote {
	position: relative;
	padding-left: 45px;
	border-left: 0;
}
.site-content blockquote:before {
	display: block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 30px;
	width: 35px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0;
	bottom: 0;
}
blockquote.define:before {
	border-right: 3px solid rgb(247, 148, 30);
	content: "\f05a"; /*fa-info.circle*/
	color: rgb(247, 148, 30);
}
blockquote.trivia:before {
	border-right: 3px solid rgb(190, 190, 190);
	content: "\f02d"; /*fa-book*/
	color: rgb(190, 190, 190);
}

/**
	Search
**/
.gsc-search-box input.gsc-search-button {
	border: 1px solid rgb(223, 134, 27);
	background: -moz-linear-gradient(center top , rgb(253, 184, 19) 5%, rgb(247, 148, 30) 100%) repeat scroll 0% 0% rgb(247, 148, 30);
	border-radius: 5px;
	display: inline-block;
	color: rgb(41, 41, 41);
	padding: 6px 18px;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgb(251, 207, 124);
	font-size: 8pt;
}
html td.gsc-search-button {
	width: 50px;
}
html input.gsc-input, html input.gsc-input:focus {
	font-size: inherit;
	box-shadow: none;
	transition: none;
	position: relative;
	top: -3px;
}
.gsc-input-box .gsib_b .gsst_b {
	position: relative;
	top: 2px;
}
html .gsc-search-box-tools .gsc-search-box .gsc-input {
	padding-right: 0px;
}
html .gsc-search-box-tools .gsc-search-box .gsc-input .gsc-input-box {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid rgb(223, 134, 27);
	border-right: none;
}
html .gsc-search-box-tools .gsc-search-box td.gsc-search-button input.gsc-search-button,
html .gsc-search-box-tools .gsc-search-box td.gsc-search-button input.gsc-search-button:hover {
	border-radius: 0px 5px 5px 0px;
	border-left: none;
	margin-left: 0;
}
html .cse input.gsc-search-button:hover, html input.gsc-search-button:hover {
	border-color: rgb(223, 134, 27);
}
html .gsc-search-box .gsc-input > input:focus, html .gsc-input-box-focus {
	box-shadow: none;
}
.navbar-inner .gsc-input-box {
	width: 175px;
}
@media (max-width: 979px) {
  html .nav-collapse .navbar-search {
  	float: left;
  }
}

/** Footer sitemap **/
.sitemap {
	min-height: 270px;
	padding: 30px 6px 6px 6px;
}
.copyright {
	height: 14px;
	padding: 6px;
	overflow: hidden;
}
.sitemap ul {
	list-style: none;
	margin: 0;
}
.sitemap .column {
	float: left;
	width: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
}
@media (min-width: 768px) {
	.sitemap .column {
		height: 250px;
	}
}
.sitemap a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.section.site-footer .sitemap h5 a {
	color: rgb(140,140,140);
	letter-spacing: -1px;
}

.navbar .brand {
	font-weight: bold;
	letter-spacing: -2px;
}

.marketing-row a.fa {
	font-size: 80px;
	display: block;
	text-align: center;
	color: #bbb;
}
.marketing-row a.fa:hover {
	text-decoration: none;
}
